# Making sure that the preprocessing pipeline works

### Creating the data (trying out with 1 stock only)

In [10]:
import sys
import os

sys.path.insert(1, "../lib/")
from utils import create_data

In [11]:
os.chdir("../data/Stocks/")
df = create_data(["a.us.txt"])

1  out of  1

In [12]:
df.head()

         Date    Open    High     Low   Close    Volume  OpenInt    symbol
0  1999-11-18  30.713  33.754  27.002  29.702  66277506        0  a.us.txt
1  1999-11-19  28.986  29.027  26.872  27.257  16142920        0  a.us.txt
2  1999-11-22  27.886  29.702  27.044  29.702   6970266        0  a.us.txt
3  1999-11-23  28.688  29.446  27.002  27.002   6332082        0  a.us.txt
4  1999-11-24  27.083  28.309  27.002  27.717   5132147        0  a.us.txt